[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
pandas = "*"
streamlit = "*"
numpy = "*"
open-spiel = "1.0.2"
jax = "*"

[dev-packages]

[requires]
python_version = "3.7"
